.session-knowledge {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    gap: 75px;
    padding-bottom: 3em;
}

.knowledges {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.knowledge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 20px;
}

.image-knowledge {
    width: 100px;
}

.text-knowledge {
    font-size: 16px;
    font-weight: bold;
}