.session-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
    padding-bottom: 3em;
}

.projects {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 2em;
    padding: 40px;
}

.modal-dialog {
    max-width: 90%; /* Aumenta a largura do modal */
    height: auto; /* Ajusta a altura */
}

.modal-body {
    display: flex;
    gap: 20px;
}

.modal-image {
    flex: 1;
    max-width: 50%;
}

.modal-image img {
    width: 100%;
    border-radius: 10px;
}

.modal-info {
    flex: 1;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 500px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #262626;
}

.card-img-wrapper img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img {
    opacity: .5;
    filter: blur(2px);
}

.card-info {
    position: absolute;
    padding: 2rem;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    color: #eee;
}

.card:hover .card-info {
    opacity: 1;
    visibility: visible;
}

.name {
    font-size: 2rem;
    font-weight: 500;
    font-family: 'Baloo Da 2', sans-serif;
}

.tecnologias {
    display: flex;
    gap: 10px;
}

.tecnologias h3, .info-project h3 {
    font-weight: 600;
}

.description {
    text-align: justify;
}

.links {
    display: flex;
    gap: 20px;
}

.links a, h3 {
    text-decoration: none;
    font-size: 18px;
}

@media (max-width: 768px) {
    .modal-dialog {
        max-width: 95%; /* O modal ocupa quase toda a largura da tela */
    }

    .modal-body {
        flex-direction: column; /* Altera a direção do flex para coluna */
    }

    .modal-image,
    .modal-info {
        max-width: 100%; /* A largura máxima é 100% para ocupar toda a tela */
    }
}