.session-services {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 50px 0 100px 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
    gap: 50px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.service {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 14px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    min-height: 250px;
}

.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.img-service {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F80;
}

.info-service {
    display: flex;
    flex-direction: column;
    color: #000000;
    gap: 10px;
}

.info-service h3 {
    font-weight: bold;
    font-size: 1.3em;
    margin-bottom: 0.5em;
    text-align: center;
}

.info-service p {
    line-height: 1.6;
    margin: 0;
    text-align: justify;
}

@media screen and (max-width: 768px) {
    .service {
        width: 100%;
        flex-direction: column;
        text-align: center;
        min-height: auto;
    }
}

@media screen and (max-width: 320px) {
    .service {
        padding: 20px;
    }

    .info-service h3 {
        font-size: 1.4em;
    }

    .info-service p {
        font-size: 0.9em;
    }
}
