.session-technology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
  background-color: black;
}

.technologies-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.technologies-wrapper::before,
.technologies-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.technologies-wrapper::before {
  left: 0;
  background: linear-gradient(to right, black 0%, transparent 100%);
}

.technologies-wrapper::after {
  right: 0;
  background: linear-gradient(to left, black 0%, transparent 100%);
}

.technologies {
  display: flex;
  width: max-content;
  animation: scroll-techs 26s linear infinite;
}

.technology {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 0 1rem;
  border-radius: 15px;
}

.image-technology {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
}

@keyframes scroll-techs {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .session-technology {
    padding: 1.5em;
  }
}
